$body-bg: #131417;
$dark-gray: #191919;
$imdb-yellow: #f5c518;
$rate-star: #e4bc24;
$nav-link: #dbdbdb;
$film-title: #f3c84a;
$dimond-blue: #2784a0;
$check-green: #41ad6d;
$iron-gray: #333;
$confort-blue: #298aa0;
$confort-blue-hover: #01acd3;
$red: #ae2a2a;
$red-hover: #df1b1b;
$text-dark: #888;
$text-dark-hover: #aaa;

$facebook: #3b5998;
$github: #fafafa;
$youtube: #f00;
$instagram: #C13584;
$line: #00c300;