@import 'color.scss';

.film_details {
  >.container {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    background: #1f2229;
    box-shadow: 0 0 15px #000;
  }
  .main {
    margin: 0 auto;
    .main_info {
      margin: 0;
      padding-bottom: 50px;
      margin-bottom: 50px;
      border-bottom: 1px solid #818181;
      >.row {
        margin: 0;
      }
      .film_title {
        @media (max-width: 767px) {
          &.desktop {
            display: none;
          }
        }
        @media (min-width: 768px) {
          &.mobile {
            display: none;
          }
        }
        h1 {
          position: relative;
          .favorite_crown {
            display: inline-block;
            svg {
              color: $imdb-yellow;
              font-size: 16px;
              position: relative;
              bottom: 10px;
            }
          }
        }
        h2 {
          font-size: 22px;
        }
      }
      .wallpaper {
        img {
          box-shadow: 5px 5px 5px rgba(0,0,0,.5);
          padding: 10px;
          border: 1px solid #ccc;
        }
      }
      .film_info {
        margin-top: 25px;
        padding-top: 20px;
        border-top: 1px dashed #818181;
      }
      .words {
        *{text-shadow: 3px 3px 5px #000;}
        .director, .type, .rates, .my_rate, .casts, .writers, .year, .categories, .end, .brief {
          margin-bottom: 10px;
        }
        .casts, .director, .writers, .categories, .brief {
          display: flex;
          b{
            min-width: 48px;
          }
        }
        .director, .writers, .casts, .categories {
          span {
            &:not(:last-child) {
              &:after {
                content: "ã€";
              }
            }
          }
        }
        .rates, .my_rate {
          span {
            display: inline-block;
            margin-right: 1px;
            &:last-of-type {
              margin-right: 10px;
            }
            svg {
              font-size: 14px;
            }
          }
        }
        .rates {
          position: relative;
          b {
            margin-right: 10px;
            svg {
              font-size: 30px;
              margin-right: 10px;
            }
          }
          .go_imdb {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            .fa-arrow-right {
              color: $confort-blue;
              margin-right: 5px;
            }
            .fa-imdb {
              font-size: 32px;
            }
            &:hover {
              .fa-arrow-right {
                color: $confort-blue-hover;
              }
              .fa-imdb {
                box-shadow: 0 0 10px #000;
              }
            }
          }
        }
        .my_rate {
          >svg {
            color: $check-green;
            margin-right: 10px;
          }
          span {
            svg {
              color: #e0c642;
            }
          }
        }
        .type {
          a {
            color: $confort-blue-hover;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .favorite {
          span {
            display: inline-block;
            background: #000;
            padding: 8px 15px 3px;
            line-height: 1;
            border: 1px solid #555;
          }
        }
        .end {
          span {
            color: $confort-blue-hover;
            &.still {
              color: $red-hover;
            }
          }
          .total {
            color: #fff;
          }
        }
      }
    }
    .main_intro {
      h3 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      p {
        line-height: 1.5em;
      }
      div.blocks:not(:last-child) {
        border-bottom: 1px solid #818181;
        margin-bottom: 30px;
        padding-bottom: 30px;
      }
      .related {
        margin-top: 10px;
        width: 100%;
        .item {
          position: relative;
          img {
            transition: all .3s;
          }
          a {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            opacity: 0;
            transition: all .3s;
            span {
              position: absolute;
              left: 50%;
              top: 45%;
              transform: translate(-50%,-50%);
              color: #fff;
              transition: all .3s;
              &:after {
                content: "";
                background: #fff;
                display: inline-block;
                width: 0;
                height: 1px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                transition: all .3s;
              }
            }
          }
          &:hover {
            img {transform: scale(1.1,1.1);}
            a {
              opacity: 1;
              transform: scale(1.1,1.1);
              span {
                top: 50%;
                &:after {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    .main {
      width: 90%;
    }
  }
  @media (max-width: 767px) {
    >.container {
      width: 95%;
    }
  }
  @media (max-width: 575px) {
    .main {
      .main_info {
        .wallpaper, .words {
          padding: 0;
        }
      }
    }
  }
}